::selection {
    background-color: yellow; /* Change this to any color you prefer */
  }
#paragraph.selectable{
    cursor: copy;
}

.first-click-indicator {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 1em;
    background-color: yellow;
    animation: blinking infinite linear 0.5s;
}


/* <div id="popup" class="popup">Text copied to clipboard!</div> */
  
.popup {
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateX(100%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    animation: slideInRight 0.5s ease forwards;
}

.popup.hide {
    animation: slideOutRight 0.5s ease forwards;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}